
.container {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .02);
    margin: 20px;
}